In [29]:
# Import Dependencies
import requests
from config import api_key
import censusdata
import pandas as pd  
from sqlalchemy import create_engine
from config import remote_db_endpoint, remote_db_port
from config import remote_db_name, remote_db_user, remote_db_pwd
import numpy as np
from sqlalchemy import func
from sqlalchemy import distinct
import json
import psycopg2

In [30]:
cloud_engine = create_engine(f"postgresql://{remote_db_user}:{remote_db_pwd}@{remote_db_endpoint}:{remote_db_port}/{remote_db_name}")
cloud_conn = cloud_engine.connect()

ca_school_data = pd.read_sql('select * from ml_master_clean', cloud_conn)

ca_school_data.head()

Exception during reset or similar
Traceback (most recent call last):
  File "C:\Users\GPSchool\Anaconda3\envs\PythonData\lib\site-packages\sqlalchemy\pool\base.py", line 682, in _finalize_fairy
    fairy._reset(pool)
  File "C:\Users\GPSchool\Anaconda3\envs\PythonData\lib\site-packages\sqlalchemy\pool\base.py", line 887, in _reset
    pool._dialect.do_rollback(self)
  File "C:\Users\GPSchool\Anaconda3\envs\PythonData\lib\site-packages\sqlalchemy\engine\default.py", line 667, in do_rollback
    dbapi_connection.rollback()
psycopg2.OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

,Zipcode,Total Students Enrolled,Median Household Income,Median Income BLACK/AA,Median Income INDIGENOUS PEOPLE,Median Income ASIAN,Median Income HAW/PAC ISLANDER,Median Income OTHER RACE,Median Income MIXED RACE,Median Income WHITE/NOT LATINO,...,Substance Abuse Count,Violent Count,Miscellaneous Count,School Name,School Rating,School Address,City,Grades,Students Per Teacher,District
0,91901,244.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,317.0,50.0,52.0,The Heights Charter,7.0,"2710 Alpine Boulevard, Suite E",Alpine,K-8,15:1,Dehesa Elementary
1,91901,333.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,317.0,50.0,52.0,Boulder Oaks Elementary,6.0,2320 Tavern Road,Alpine,1-5,24:1,Alpine Union Elementary
2,91901,438.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,317.0,50.0,52.0,Joan MacQueen Middle,6.0,2001 Tavern Road,Alpine,6-8,20:1,Alpine Union Elementary
3,91901,387.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,317.0,50.0,52.0,Shadow Hills Elementary,6.0,8770 Harbison Canyon Road,Alpine,K-5,20:1,Alpine Union Elementary
4,91901,158.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,317.0,50.0,52.0,Alpine Elementary,4.0,1850 Alpine Boulevard,Alpine,1-5,20:1,Alpine Union Elementary

Four New Columns for Crime ratios are created which will standardize the count with the Zipcode population
The new columns created are 'Theft Count Ratio', 'Substance Abuse Count Ratio', 'Violent Count Ratio' and 'Miscellaneous Count Ratio'

In [31]:
ca_school_data['Theft Count Ratio'] = ca_school_data['Theft Count'] / ca_school_data['Population Total']
ca_school_data['Substance Abuse Count Ratio'] = ca_school_data['Substance Abuse Count'] / ca_school_data['Population Total']
ca_school_data['Violent Count Ratio'] = ca_school_data['Violent Count'] / ca_school_data['Population Total']
ca_school_data['Miscellaneous Count Ratio'] = ca_school_data['Miscellaneous Count'] / ca_school_data['Population Total']
ca_school_data.head(75)

,Zipcode,Total Students Enrolled,Median Household Income,Median Income BLACK/AA,Median Income INDIGENOUS PEOPLE,Median Income ASIAN,Median Income HAW/PAC ISLANDER,Median Income OTHER RACE,Median Income MIXED RACE,Median Income WHITE/NOT LATINO,...,School Rating,School Address,City,Grades,Students Per Teacher,District,Theft Count Ratio,Substance Abuse Count Ratio,Violent Count Ratio,Miscellaneous Count Ratio
0,91901,244.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,7.0,"2710 Alpine Boulevard, Suite E",Alpine,K-8,15:1,Dehesa Elementary,0.004269,0.017129,0.002702,0.002810
1,91901,333.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,6.0,2320 Tavern Road,Alpine,1-5,24:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
2,91901,438.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,6.0,2001 Tavern Road,Alpine,6-8,20:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
3,91901,387.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,6.0,8770 Harbison Canyon Road,Alpine,K-5,20:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
4,91901,158.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,4.0,1850 Alpine Boulevard,Alpine,1-5,20:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,91915,332.0,101760.0,109750.0,0.0,101328.0,0.0,82159.0,121719.0,117525.0,...,4.0,1949 Discovery Falls Drive,Chula Vista,6-8,14:1,SBC - High Tech High,0.003226,0.000319,0.001489,0.002340
71,91916,211.0,69821.0,0.0,0.0,0.0,0.0,0.0,0.0,69955.0,...,6.0,24842 Viejas Boulevard,Descanso,K-6,21:1,Mountain Empire Unified,0.002483,0.000000,0.000000,0.000000
72,91932,896.0,46659.0,40521.0,74773.0,41701.0,0.0,37527.0,36649.0,57344.0,...,6.0,650 Imperial Beach Boulevard,Imperial Beach,K-8,20:1,South Bay Union,0.004632,0.006402,0.004406,0.003126
73,91932,1585.0,46659.0,40521.0,74773.0,41701.0,0.0,37527.0,36649.0,57344.0,...,4.0,505 Elm Avenue,Imperial Beach,9-12,25:1,Sweetwater Union High,0.004632,0.006402,0.004406,0.003126
74,91932,513.0,46659.0,40521.0,74773.0,41701.0,0.0,37527.0,36649.0,57344.0,...,3.0,1311 10th Street,Imperial Beach,K-6,20:1,South Bay Union,0.004632,0.006402,0.004406,0.003126

Removing the Crime Actual Counts from the dataframe i.e. 
1. Theft Count
2. Substance Abuse Count
3. Violent Count
4. Miscellaneous Count

In [32]:
ca_school_data = ca_school_data.drop(labels=["Theft Count", "Substance Abuse Count","Violent Count","Miscellaneous Count"], axis=1)
ca_school_data.head(75)

,Zipcode,Total Students Enrolled,Median Household Income,Median Income BLACK/AA,Median Income INDIGENOUS PEOPLE,Median Income ASIAN,Median Income HAW/PAC ISLANDER,Median Income OTHER RACE,Median Income MIXED RACE,Median Income WHITE/NOT LATINO,...,School Rating,School Address,City,Grades,Students Per Teacher,District,Theft Count Ratio,Substance Abuse Count Ratio,Violent Count Ratio,Miscellaneous Count Ratio
0,91901,244.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,7.0,"2710 Alpine Boulevard, Suite E",Alpine,K-8,15:1,Dehesa Elementary,0.004269,0.017129,0.002702,0.002810
1,91901,333.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,6.0,2320 Tavern Road,Alpine,1-5,24:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
2,91901,438.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,6.0,2001 Tavern Road,Alpine,6-8,20:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
3,91901,387.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,6.0,8770 Harbison Canyon Road,Alpine,K-5,20:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
4,91901,158.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,4.0,1850 Alpine Boulevard,Alpine,1-5,20:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,91915,332.0,101760.0,109750.0,0.0,101328.0,0.0,82159.0,121719.0,117525.0,...,4.0,1949 Discovery Falls Drive,Chula Vista,6-8,14:1,SBC - High Tech High,0.003226,0.000319,0.001489,0.002340
71,91916,211.0,69821.0,0.0,0.0,0.0,0.0,0.0,0.0,69955.0,...,6.0,24842 Viejas Boulevard,Descanso,K-6,21:1,Mountain Empire Unified,0.002483,0.000000,0.000000,0.000000
72,91932,896.0,46659.0,40521.0,74773.0,41701.0,0.0,37527.0,36649.0,57344.0,...,6.0,650 Imperial Beach Boulevard,Imperial Beach,K-8,20:1,South Bay Union,0.004632,0.006402,0.004406,0.003126
73,91932,1585.0,46659.0,40521.0,74773.0,41701.0,0.0,37527.0,36649.0,57344.0,...,4.0,505 Elm Avenue,Imperial Beach,9-12,25:1,Sweetwater Union High,0.004632,0.006402,0.004406,0.003126
74,91932,513.0,46659.0,40521.0,74773.0,41701.0,0.0,37527.0,36649.0,57344.0,...,3.0,1311 10th Street,Imperial Beach,K-6,20:1,South Bay Union,0.004632,0.006402,0.004406,0.003126

Removing the following columns from the dataframe i.e. 
1. latitude
2. longitude
3. School Address
4. City
5. Grades

In [33]:
ca_school_drop = ca_school_data.drop(labels=["latitude", "longitude","School Name", "Grades","School Address","City"], axis=1)
ca_school_drop.head(75)

,Zipcode,Total Students Enrolled,Median Household Income,Median Income BLACK/AA,Median Income INDIGENOUS PEOPLE,Median Income ASIAN,Median Income HAW/PAC ISLANDER,Median Income OTHER RACE,Median Income MIXED RACE,Median Income WHITE/NOT LATINO,...,Population other ratio,Population mixed ratio,Population hispanic/latino ratio,School Rating,Students Per Teacher,District,Theft Count Ratio,Substance Abuse Count Ratio,Violent Count Ratio,Miscellaneous Count Ratio
0,91901,244.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,7.0,15:1,Dehesa Elementary,0.004269,0.017129,0.002702,0.002810
1,91901,333.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,6.0,24:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
2,91901,438.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,6.0,20:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
3,91901,387.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,6.0,20:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
4,91901,158.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,4.0,20:1,Alpine Union Elementary,0.004269,0.017129,0.002702,0.002810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,91915,332.0,101760.0,109750.0,0.0,101328.0,0.0,82159.0,121719.0,117525.0,...,0.010777,0.033961,0.472544,4.0,14:1,SBC - High Tech High,0.003226,0.000319,0.001489,0.002340
71,91916,211.0,69821.0,0.0,0.0,0.0,0.0,0.0,0.0,69955.0,...,0.000000,0.015518,0.120422,6.0,21:1,Mountain Empire Unified,0.002483,0.000000,0.000000,0.000000
72,91932,896.0,46659.0,40521.0,74773.0,41701.0,0.0,37527.0,36649.0,57344.0,...,0.000226,0.039578,0.500998,6.0,20:1,South Bay Union,0.004632,0.006402,0.004406,0.003126
73,91932,1585.0,46659.0,40521.0,74773.0,41701.0,0.0,37527.0,36649.0,57344.0,...,0.000226,0.039578,0.500998,4.0,25:1,Sweetwater Union High,0.004632,0.006402,0.004406,0.003126
74,91932,513.0,46659.0,40521.0,74773.0,41701.0,0.0,37527.0,36649.0,57344.0,...,0.000226,0.039578,0.500998,3.0,20:1,South Bay Union,0.004632,0.006402,0.004406,0.003126

In [34]:
district_type = ca_school_drop["District"].value_counts()
district_type

San Diego Unified                             212
Chula Vista Elementary                         48
Poway Unified                                  37
Vista Unified                                  28
Cajon Valley Union                             28
Escondido Union                                26
Sweetwater Union High                          25
Oceanside Unified                              23
La Mesa-Spring Valley                          23
San Marcos Unified                             18
Temecula Valley Unified                        16
Grossmont Union High                           12
South Bay Union                                11
Ramona City Unified                            11
Mountain Empire Unified                        11
National Elementary                            11
San Dieguito Union High                        10
Lakeside Union Elementary                       9
Santee                                          9
Carlsbad Unified                                9
Encinitas Union Elementary                      9
Del Mar Union Elementary                        8
Fallbrook Union Elementary                      8
Dehesa Elementary                               8
San Ysidro Elementary                           7
Valley Center-Pauma Unified                     7
Escondido Union High                            6
Lemon Grove                                     6
SBC - High Tech High                            6
Solana Beach Elementary                         6
Bonsall Unified                                 5
Julian Union Elementary                         4
Coronado Unified                                4
Jamul-Dulzura Union Elementary                  4
Capistrano Unified                              4
Borrego Springs Unified                         4
Alpine Union Elementary                         4
Fallbrook Union High                            3
Rancho Santa Fe Elementary                      2
Warner Unified                                  2
San Diego County Office of Education            2
Sbe - Thrive Public School District             1
Mono County Office of Education                 1
Sbe - Grossmont Secondary School District       1
Sbe - Audeo Charter II                          1
Julian Union High                               1
Vallecitos Elementary                           1
Cardiff Elementary                              1
Community Montessori District                   1
San Pasqual Union Elementary                    1
Sbe - Sweetwater Secondary School District      1
Name: District, dtype: int64

In [35]:
district_to_replace = list(district_type[district_type < 12].index)

# Replace in dataframe
for cls in district_to_replace:
    ca_school_drop['District'] = ca_school_drop['District'].replace(cls,"Other")
    
# Check to make sure binning was successful
ca_school_drop['District'].value_counts()

San Diego Unified          212
Other                      200
Chula Vista Elementary      48
Poway Unified               37
Cajon Valley Union          28
Vista Unified               28
Escondido Union             26
Sweetwater Union High       25
Oceanside Unified           23
La Mesa-Spring Valley       23
San Marcos Unified          18
Temecula Valley Unified     16
Grossmont Union High        12
Name: District, dtype: int64

In [36]:
# new data frame with split value columns
new = ca_school_drop["Students Per Teacher"].str.split(":", n = 1, expand = True)
  
# making separate first name column from new data frame
ca_school_drop["Students Per Teacher Count"]= new[0]
#ca_school_drop

ca_school_updated = ca_school_drop.drop(labels=["Students Per Teacher"], axis=1)
ca_school_updated

,Zipcode,Total Students Enrolled,Median Household Income,Median Income BLACK/AA,Median Income INDIGENOUS PEOPLE,Median Income ASIAN,Median Income HAW/PAC ISLANDER,Median Income OTHER RACE,Median Income MIXED RACE,Median Income WHITE/NOT LATINO,...,Population other ratio,Population mixed ratio,Population hispanic/latino ratio,School Rating,District,Theft Count Ratio,Substance Abuse Count Ratio,Violent Count Ratio,Miscellaneous Count Ratio,Students Per Teacher Count
0,91901,244.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,7.0,Other,0.004269,0.017129,0.002702,0.00281,15
1,91901,333.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,6.0,Other,0.004269,0.017129,0.002702,0.00281,24
2,91901,438.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,6.0,Other,0.004269,0.017129,0.002702,0.00281,20
3,91901,387.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,6.0,Other,0.004269,0.017129,0.002702,0.00281,20
4,91901,158.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,4.0,Other,0.004269,0.017129,0.002702,0.00281,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,92672,422.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.000764,0.025181,0.227365,9.0,Other,0.000000,0.000057,0.000000,0.00000,18
692,92672,575.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.000764,0.025181,0.227365,7.0,Other,0.000000,0.000057,0.000000,0.00000,25
693,92672,929.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.000764,0.025181,0.227365,7.0,Other,0.000000,0.000057,0.000000,0.00000,26
694,92672,889.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.000764,0.025181,0.227365,5.0,Other,0.000000,0.000057,0.000000,0.00000,27
695,92672,366.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.000764,0.025181,0.227365,4.0,Other,0.000000,0.000057,0.000000,0.00000,21

In [37]:
ca_school_updated.to_csv('sd_schools_tableau2.csv',index=False)

In [38]:
# Using OneHotEncoder to create the features
# Generate our categorical variable lists
ca_school_cat = list(ca_school_updated.dtypes[ca_school_updated.dtypes == "object"].index)
ca_school_cat

['District', 'Students Per Teacher Count']

In [39]:
ca_school_updated["Students Per Teacher Count"] = ca_school_updated["Students Per Teacher Count"].astype(str).astype(int)
ca_school_updated

,Zipcode,Total Students Enrolled,Median Household Income,Median Income BLACK/AA,Median Income INDIGENOUS PEOPLE,Median Income ASIAN,Median Income HAW/PAC ISLANDER,Median Income OTHER RACE,Median Income MIXED RACE,Median Income WHITE/NOT LATINO,...,Population other ratio,Population mixed ratio,Population hispanic/latino ratio,School Rating,District,Theft Count Ratio,Substance Abuse Count Ratio,Violent Count Ratio,Miscellaneous Count Ratio,Students Per Teacher Count
0,91901,244.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,7.0,Other,0.004269,0.017129,0.002702,0.00281,15
1,91901,333.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,6.0,Other,0.004269,0.017129,0.002702,0.00281,24
2,91901,438.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,6.0,Other,0.004269,0.017129,0.002702,0.00281,20
3,91901,387.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,6.0,Other,0.004269,0.017129,0.002702,0.00281,20
4,91901,158.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.006754,0.012212,0.168153,4.0,Other,0.004269,0.017129,0.002702,0.00281,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,92672,422.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.000764,0.025181,0.227365,9.0,Other,0.000000,0.000057,0.000000,0.00000,18
692,92672,575.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.000764,0.025181,0.227365,7.0,Other,0.000000,0.000057,0.000000,0.00000,25
693,92672,929.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.000764,0.025181,0.227365,7.0,Other,0.000000,0.000057,0.000000,0.00000,26
694,92672,889.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.000764,0.025181,0.227365,5.0,Other,0.000000,0.000057,0.000000,0.00000,27
695,92672,366.0,77829.0,0.0,0.0,92614.0,0.0,56964.0,103520.0,80927.0,...,0.000764,0.025181,0.227365,4.0,Other,0.000000,0.000057,0.000000,0.00000,21

In [40]:
ca_school_cat = list(ca_school_updated.dtypes[ca_school_updated.dtypes == "object"].index)
ca_school_cat

['District']

In [41]:
from sklearn.preprocessing import OneHotEncoder
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(ca_school_updated[ca_school_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(ca_school_cat)
encode_df.head(75)

,District_Cajon Valley Union,District_Chula Vista Elementary,District_Escondido Union,District_Grossmont Union High,District_La Mesa-Spring Valley,District_Oceanside Unified,District_Other,District_Poway Unified,District_San Diego Unified,District_San Marcos Unified,District_Sweetwater Union High,District_Temecula Valley Unified,District_Vista Unified
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
71,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
72,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
73,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
74,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
# Merge one-hot encoded features and drop the originals
ca_school_updated = ca_school_updated.merge(encode_df, left_index=True, right_index=True)
ca_school_updated = ca_school_updated.drop(labels=ca_school_cat, axis=1)
ca_school_updated.head()

,Zipcode,Total Students Enrolled,Median Household Income,Median Income BLACK/AA,Median Income INDIGENOUS PEOPLE,Median Income ASIAN,Median Income HAW/PAC ISLANDER,Median Income OTHER RACE,Median Income MIXED RACE,Median Income WHITE/NOT LATINO,...,District_Grossmont Union High,District_La Mesa-Spring Valley,District_Oceanside Unified,District_Other,District_Poway Unified,District_San Diego Unified,District_San Marcos Unified,District_Sweetwater Union High,District_Temecula Valley Unified,District_Vista Unified
0,91901,244.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,91901,333.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,91901,438.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,91901,387.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,91901,158.0,79859.0,143917.0,53750.0,78625.0,0.0,48026.0,0.0,88039.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Split our preprocessed data into our features and target arrays
X = ca_school_updated.drop("School Rating", axis=1).values
y = ca_school_updated["School Rating"].values.reshape(-1, 1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [44]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [45]:
import tensorflow as tf

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 110
hidden_nodes_layer2 = 60

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 110)               6050
_________________________________________________________________
dense_4 (Dense)              (None, 60)                6660
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 61
=================================================================
Total params: 12,771
Trainable params: 12,771
Non-trainable params: 0
_________________________________________________________________

In [46]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
17/17 [==============================] - 0s 914us/step - loss: -3.2334 - accuracy: 0.0077
Epoch 2/100
17/17 [==============================] - 0s 904us/step - loss: -21.5316 - accuracy: 0.0115
Epoch 3/100
17/17 [==============================] - 0s 632us/step - loss: -53.0806 - accuracy: 0.0115
Epoch 4/100
17/17 [==============================] - 0s 562us/step - loss: -109.3000 - accuracy: 0.0115
Epoch 5/100
17/17 [==============================] - 0s 640us/step - loss: -215.0729 - accuracy: 0.0115
Epoch 6/100
17/17 [==============================] - 0s 537us/step - loss: -397.4717 - accuracy: 0.0115
Epoch 7/100
17/17 [==============================] - 0s 664us/step - loss: -687.6641 - accuracy: 0.0115
Epoch 8/100
17/17 [==============================] - 0s 563us/step - loss: -1107.8112 - accuracy: 0.0115
Epoch 9/100
17/17 [==============================] - 0s 629us/step - loss: -1715.6152 - accuracy: 0.0115
Epoch 10/100
17/17 [==============================] - 0s 625us/step - loss: -2516.3594 - accuracy: 0.0115
Epoch 11/100
17/17 [==============================] - 0s 563us/step - loss: -3548.7178 - accuracy: 0.0115
Epoch 12/100
17/17 [==============================] - 0s 663us/step - loss: -4835.2212 - accuracy: 0.0115
Epoch 13/100
17/17 [==============================] - 0s 900us/step - loss: -6439.7915 - accuracy: 0.0115
Epoch 14/100
17/17 [==============================] - 0s 813us/step - loss: -8374.1348 - accuracy: 0.0115
Epoch 15/100
17/17 [==============================] - 0s 836us/step - loss: -10688.8174 - accuracy: 0.0115
Epoch 16/100
17/17 [==============================] - 0s 625us/step - loss: -13381.1641 - accuracy: 0.0115
Epoch 17/100
17/17 [==============================] - 0s 813us/step - loss: -16498.5664 - accuracy: 0.0115
Epoch 18/100
17/17 [==============================] - 0s 716us/step - loss: -20152.1758 - accuracy: 0.0115
Epoch 19/100
17/17 [==============================] - 0s 631us/step - loss: -24195.1855 - accuracy: 0.0115
Epoch 20/100
17/17 [==============================] - 0s 598us/step - loss: -28807.9199 - accuracy: 0.0115
Epoch 21/100
17/17 [==============================] - 0s 625us/step - loss: -34024.5039 - accuracy: 0.0115
Epoch 22/100
17/17 [==============================] - 0s 625us/step - loss: -39906.4492 - accuracy: 0.0115
Epoch 23/100
17/17 [==============================] - 0s 642us/step - loss: -46307.1133 - accuracy: 0.0115
Epoch 24/100
17/17 [==============================] - 0s 647us/step - loss: -53485.6172 - accuracy: 0.0115
Epoch 25/100
17/17 [==============================] - 0s 792us/step - loss: -61202.6992 - accuracy: 0.0115
Epoch 26/100
17/17 [==============================] - 0s 563us/step - loss: -69583.3125 - accuracy: 0.0115
Epoch 27/100
17/17 [==============================] - 0s 631us/step - loss: -78893.5625 - accuracy: 0.0115
Epoch 28/100
17/17 [==============================] - 0s 646us/step - loss: -88893.5469 - accuracy: 0.0115
Epoch 29/100
17/17 [==============================] - 0s 640us/step - loss: -99458.7344 - accuracy: 0.0115
Epoch 30/100
17/17 [==============================] - 0s 625us/step - loss: -111356.5078 - accuracy: 0.0115
Epoch 31/100
17/17 [==============================] - 0s 611us/step - loss: -123771.9688 - accuracy: 0.0115
Epoch 32/100
17/17 [==============================] - 0s 671us/step - loss: -137465.5312 - accuracy: 0.0115
Epoch 33/100
17/17 [==============================] - 0s 723us/step - loss: -151758.3594 - accuracy: 0.0115
Epoch 34/100
17/17 [==============================] - 0s 578us/step - loss: -166439.8438 - accuracy: 0.0115
Epoch 35/100
17/17 [==============================] - 0s 562us/step - loss: -182290.8281 - accuracy: 0.0115
Epoch 36/100
17/17 [==============================] - 0s 688us/step - loss: -199511.2656 - accuracy: 0.0115
Epoch 37/100
17/17 [==============================] - 0s 625us/step - loss: -217535.8438 - accuracy: 0.0115
Epoch 38/100
17/17 [==============================] - 0s 586us/step - loss: -236417.8750 - accuracy: 0.0115
Epoch 39/100
17/17 [==============================] - 0s 751us/step - loss: -256962.4219 - accuracy: 0.0115
Epoch 40/100
17/17 [==============================] - 0s 563us/step - loss: -277722.3750 - accuracy: 0.0115
Epoch 41/100
17/17 [==============================] - 0s 625us/step - loss: -299947.8750 - accuracy: 0.0115
Epoch 42/100
17/17 [==============================] - 0s 532us/step - loss: -323247.5312 - accuracy: 0.0115
Epoch 43/100
17/17 [==============================] - 0s 583us/step - loss: -347550.3750 - accuracy: 0.0115
Epoch 44/100
17/17 [==============================] - 0s 690us/step - loss: -372848.3750 - accuracy: 0.0115
Epoch 45/100
17/17 [==============================] - 0s 942us/step - loss: -399864.0000 - accuracy: 0.0115
Epoch 46/100
17/17 [==============================] - 0s 750us/step - loss: -427378.0625 - accuracy: 0.0115
Epoch 47/100
17/17 [==============================] - 0s 814us/step - loss: -456547.1562 - accuracy: 0.0115
Epoch 48/100
17/17 [==============================] - 0s 828us/step - loss: -486445.4062 - accuracy: 0.0115
Epoch 49/100
17/17 [==============================] - 0s 844us/step - loss: -518384.5625 - accuracy: 0.0115
Epoch 50/100
17/17 [==============================] - 0s 762us/step - loss: -550135.5625 - accuracy: 0.0115
Epoch 51/100
17/17 [==============================] - 0s 906us/step - loss: -584227.5000 - accuracy: 0.0115
Epoch 52/100
17/17 [==============================] - 0s 776us/step - loss: -618784.8750 - accuracy: 0.0115
Epoch 53/100
17/17 [==============================] - 0s 712us/step - loss: -656202.6250 - accuracy: 0.0115
Epoch 54/100
17/17 [==============================] - 0s 811us/step - loss: -693040.6250 - accuracy: 0.0115
Epoch 55/100
17/17 [==============================] - 0s 941us/step - loss: -732438.6875 - accuracy: 0.0115
Epoch 56/100
17/17 [==============================] - 0s 833us/step - loss: -772091.4375 - accuracy: 0.0115
Epoch 57/100
17/17 [==============================] - 0s 829us/step - loss: -814144.7500 - accuracy: 0.0115
Epoch 58/100
17/17 [==============================] - 0s 1ms/step - loss: -857768.5000 - accuracy: 0.0115
Epoch 59/100
17/17 [==============================] - 0s 757us/step - loss: -902397.6875 - accuracy: 0.0115
Epoch 60/100
17/17 [==============================] - 0s 613us/step - loss: -947663.8750 - accuracy: 0.0115
Epoch 61/100
17/17 [==============================] - 0s 582us/step - loss: -996420.3125 - accuracy: 0.0115
Epoch 62/100
17/17 [==============================] - 0s 564us/step - loss: -1046007.4375 - accuracy: 0.0115
Epoch 63/100
17/17 [==============================] - 0s 562us/step - loss: -1095806.3750 - accuracy: 0.0115
Epoch 64/100
17/17 [==============================] - 0s 633us/step - loss: -1148404.3750 - accuracy: 0.0115
Epoch 65/100
17/17 [==============================] - 0s 784us/step - loss: -1200912.2500 - accuracy: 0.0115
Epoch 66/100
17/17 [==============================] - 0s 1ms/step - loss: -1255056.1250 - accuracy: 0.0115
Epoch 67/100
17/17 [==============================] - 0s 634us/step - loss: -1311230.0000 - accuracy: 0.0115
Epoch 68/100
17/17 [==============================] - 0s 658us/step - loss: -1369232.2500 - accuracy: 0.0115
Epoch 69/100
17/17 [==============================] - 0s 648us/step - loss: -1428500.2500 - accuracy: 0.0115
Epoch 70/100
17/17 [==============================] - 0s 654us/step - loss: -1489501.8750 - accuracy: 0.0115
Epoch 71/100
17/17 [==============================] - 0s 583us/step - loss: -1553504.3750 - accuracy: 0.0115
Epoch 72/100
17/17 [==============================] - 0s 752us/step - loss: -1617507.2500 - accuracy: 0.0115
Epoch 73/100
17/17 [==============================] - 0s 625us/step - loss: -1682796.6250 - accuracy: 0.0115
Epoch 74/100
17/17 [==============================] - 0s 589us/step - loss: -1751644.7500 - accuracy: 0.0115
Epoch 75/100
17/17 [==============================] - 0s 805us/step - loss: -1819764.7500 - accuracy: 0.0115
Epoch 76/100
17/17 [==============================] - 0s 662us/step - loss: -1891710.0000 - accuracy: 0.0115
Epoch 77/100
17/17 [==============================] - 0s 650us/step - loss: -1963023.1250 - accuracy: 0.0115
Epoch 78/100
17/17 [==============================] - 0s 562us/step - loss: -2036147.2500 - accuracy: 0.0115
Epoch 79/100
17/17 [==============================] - 0s 650us/step - loss: -2112032.0000 - accuracy: 0.0115
Epoch 80/100
17/17 [==============================] - 0s 667us/step - loss: -2189008.2500 - accuracy: 0.0115
Epoch 81/100
17/17 [==============================] - 0s 562us/step - loss: -2266765.5000 - accuracy: 0.0115
Epoch 82/100
17/17 [==============================] - 0s 662us/step - loss: -2346452.7500 - accuracy: 0.0115
Epoch 83/100
17/17 [==============================] - 0s 634us/step - loss: -2428138.5000 - accuracy: 0.0115
Epoch 84/100
17/17 [==============================] - 0s 660us/step - loss: -2509949.7500 - accuracy: 0.0115
Epoch 85/100
17/17 [==============================] - 0s 638us/step - loss: -2594674.7500 - accuracy: 0.0115
Epoch 86/100
17/17 [==============================] - 0s 653us/step - loss: -2681896.2500 - accuracy: 0.0115
Epoch 87/100
17/17 [==============================] - 0s 540us/step - loss: -2767533.2500 - accuracy: 0.0115
Epoch 88/100
17/17 [==============================] - 0s 716us/step - loss: -2856815.2500 - accuracy: 0.0115
Epoch 89/100
17/17 [==============================] - 0s 909us/step - loss: -2946082.2500 - accuracy: 0.0115
Epoch 90/100
17/17 [==============================] - 0s 660us/step - loss: -3043005.7500 - accuracy: 0.0115
Epoch 91/100
17/17 [==============================] - 0s 674us/step - loss: -3137171.2500 - accuracy: 0.0115
Epoch 92/100
17/17 [==============================] - 0s 634us/step - loss: -3231878.5000 - accuracy: 0.0115
Epoch 93/100
17/17 [==============================] - 0s 625us/step - loss: -3329242.0000 - accuracy: 0.0115
Epoch 94/100
17/17 [==============================] - 0s 626us/step - loss: -3430095.5000 - accuracy: 0.0115
Epoch 95/100
17/17 [==============================] - 0s 652us/step - loss: -3533230.5000 - accuracy: 0.0115
Epoch 96/100
17/17 [==============================] - 0s 695us/step - loss: -3638306.7500 - accuracy: 0.0115
Epoch 97/100
17/17 [==============================] - 0s 752us/step - loss: -3741848.0000 - accuracy: 0.0115
Epoch 98/100
17/17 [==============================] - 0s 629us/step - loss: -3850280.2500 - accuracy: 0.0115
Epoch 99/100
17/17 [==============================] - 0s 623us/step - loss: -3959272.5000 - accuracy: 0.0115
Epoch 100/100
17/17 [==============================] - 0s 611us/step - loss: -4067887.0000 - accuracy: 0.0115

In [47]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

6/6 - 0s - loss: -3.7520e+06 - accuracy: 0.0057
Loss: -3751952.25, Accuracy: 0.005747126415371895

In [66]:
y_true = y_test
y_pred = nn.predict(X_test_scaled)

y_true = y_true.astype(np.int)
print(y_true)
y_true
df = pd.DataFrame({'true':y_true.flatten(),'pred':y_pred.flatten()})
df['pred'].value_counts()

[[ 6]
 [ 8]
 [ 9]
 [ 8]
 [ 8]
 [ 4]
 [ 4]
 [ 6]
 [ 8]
 [ 3]
 [ 7]
 [ 4]
 [ 6]
 [ 3]
 [ 6]
 [ 8]
 [ 4]
 [ 4]
 [ 4]
 [ 7]
 [ 8]
 [ 5]
 [ 3]
 [ 8]
 [ 8]
 [ 9]
 [ 3]
 [ 7]
 [ 2]
 [ 7]
 [ 5]
 [ 7]
 [ 5]
 [ 6]
 [ 7]
 [ 2]
 [ 6]
 [ 6]
 [ 2]
 [ 5]
 [ 5]
 [10]
 [ 8]
 [ 7]
 [ 4]
 [ 7]
 [ 6]
 [ 7]
 [ 9]
 [ 4]
 [ 4]
 [ 4]
 [ 5]
 [ 5]
 [ 5]
 [ 9]
 [ 9]
 [ 2]
 [ 7]
 [ 7]
 [ 5]
 [ 8]
 [ 4]
 [ 2]
 [ 7]
 [ 8]
 [ 4]
 [ 5]
 [ 4]
 [ 6]
 [ 4]
 [ 6]
 [ 3]
 [ 5]
 [ 8]
 [ 4]
 [ 8]
 [ 5]
 [ 3]
 [ 6]
 [ 7]
 [ 4]
 [ 7]
 [ 4]
 [ 6]
 [ 5]
 [ 6]
 [ 8]
 [ 6]
 [ 5]
 [ 4]
 [ 4]
 [ 4]
 [ 5]
 [ 5]
 [ 8]
 [ 6]
 [ 8]
 [ 7]
 [ 4]
 [ 3]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 9]
 [ 3]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [ 8]
 [ 7]
 [ 3]
 [ 6]
 [ 8]
 [ 4]
 [ 4]
 [ 3]
 [ 7]
 [ 7]
 [ 7]
 [ 4]
 [ 5]
 [ 5]
 [ 7]
 [ 7]
 [ 4]
 [ 8]
 [ 8]
 [ 8]
 [ 9]
 [ 3]
 [ 4]
 [ 6]
 [ 6]
 [ 8]
 [ 9]
 [ 1]
 [ 9]
 [ 6]
 [ 3]
 [ 8]
 [ 6]
 [ 5]
 [ 4]
 [ 5]
 [ 5]
 [ 5]
 [ 2]
 [ 5]
 [ 2]
 [ 6]
 [ 5]
 [ 5]
 [ 6]
 [ 4]
 [ 9]
 [ 8]
 [ 8]
 [ 2]
 [ 7]
 [ 7]
 [ 4]
 [ 9]
 [ 8]
 [ 7]
 [ 4]
 [ 7]
 [ 5]
 [ 4]
 [ 4]
 [ 3]
 [ 6]]

1.0    174
Name: pred, dtype: int64